html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Universal Box Sizing with Inheritance */
}

body {
  background-color: rgb(247, 243, 240);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  ========================================
  Custom styles
  ========================================
*/

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.checkout {
  font-size: 2rem;
  font-weight: 700;
  margin: 5rem auto 0 auto;
}

.item-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/*
  ========================================
  Navbar
  ========================================
*/

.logo {
  font-size: 2.4rem;
  font-weight: 900;
}

.top-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3.2rem;
  background: white;
}

.nav-links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > a:hover {
  text-decoration: underline;
}

.cart-navbar-container {
  flex-basis: 12%;
}

.cart-navbar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

/*
  ========================================
  Shop Page
  ========================================
*/

.shop-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4.5rem;
}

.item-card {
  width: 30%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.item-card .images-link-container {
  display: block;
  height: 40%;
}

.items-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
  ========================================
  Item Page
  ========================================
*/

.item-page-card {
  width: 35%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  margin: 4.5rem auto;
}

.item-page-btn {
  cursor: pointer;
  background-color: #3f3737;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

.item-page-btn:hover {
  background-color: #302c2c;
}

/*
  ========================================
  Cart Container
  ========================================
*/

.empty-cart {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
}

.cart-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 5.5rem 2rem;
  font-size: 1.1rem;
}

.cart-cards-container {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cart-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart-card-name {
  grid-column: 1 / 2;
}

.cart-card-quantity {
  grid-column: 2 / 3;
}

.cart-card-btns-container {
  grid-column: 3 / 4;
  display: flex;
  gap: 0.5rem;
}

.cart-card-btns-container > button {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.cart-card-btns-container > button:hover {
  background-color: #6e6264; /* Green */
}

.increase {
  background-color: rgb(79, 116, 43);
}

.decrease {
  background-color: rgb(177, 61, 80);
}

.cart-total {
  flex-basis: 25%;
  border: 1px solid black;
  text-align: center;
}

.cart-total-values {
  font-size: 1.2rem;
  font-weight: 700;
}

.cart-total-btns-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.cart-total-btns-container > button {
  background-color: #3f3737;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}

/*
  ========================================
  Home Page
  ========================================
*/

.home-image-container {
  margin: 0 auto;
  width: 100%;
  height: 28rem;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 4rem 0;
}

.home-content-1 {
  flex-basis: 50%;
}

.home-content-2 {
  flex-basis: 50%;
}

.home-content-center {
  flex-basis: 100%;
  font-size: 1.5rem;
}

.home-content-3 {
  flex-basis: 50%;
}

.home-content-4 {
  flex-basis: 50%;
}

/*
  ========================================
  About Page
  ========================================
*/

.about-container {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 5.5rem auto;
}

.about-contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-title {
  font-size: 1.2rem;
  font-weight: 900;
}

/*
  ========================================
  Footer
  ========================================
*/

.page-footer {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: auto;
  height: 3.2rem;
}

.github-image {
  height: 2rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/*
  ========================================
  Media Query
  ========================================
*/

@media (max-width: 768px) {
  /*
  ========================================
  Navbar
  ========================================
*/

  .top-navbar {
    position: static;
    min-height: 8rem;
    flex-direction: column;
    gap: 1rem;
  }

  /*
  ========================================
  Shop Page
  ========================================
*/

  .item-card {
    width: 80%;
  }

  .shop-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  /*
  ========================================
  Item Page
  ========================================
*/

  .item-page-card {
    width: 80%;
  }

  /*
  ========================================
  Cart Container
  ========================================
*/
  .cart-container {
    flex-flow: column nowrap;
  }

  .cart-cards-container {
    flex-basis: 100%;
  }

  .cart-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .cart-total {
    flex-basis: 100%;
    margin-top: 2rem;
  }
}
