html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit; /* Universal Box Sizing with Inheritance */
}

body {
  background-color: rgb(228, 224, 220);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  ========================================
  Custom styles
  ========================================
*/

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

h1,
p,
ul {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/*
  ========================================
  Navbar
  ========================================
*/

.logo {
  font-size: 2.4rem;
}

.top-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3.2rem;
  background: rgb(100, 95, 68);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.cart-navbar {
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
}

/*
  ========================================
  Items Container
  ========================================
*/

.shop-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.item-card {
  width: 30%;
  height: 24rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.item-card a {
  display: block;
  height: 40%;
}

.items-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
  ========================================
  Item Page
  ========================================
*/

.item-page-card {
  width: 35%;
  height: 24rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  margin: 3.5rem auto;
}

/*
  ========================================
  Cart Container
  ========================================
*/

.cart-container {
  margin-top: 3.5rem;
  font-size: 1.1rem;
}

/*
  ========================================
  Media Query
  ========================================
*/

@media (max-width: 768px) {
  .item-card {
    width: 80%;
  }

  .shop-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .item-page-card {
    width: 60%;
  }
}
